.container-fluid {
  padding: auto;
}

.body {
  text-align: center;
  font-family: "Cambria";
}

/* TitleSection */
.big-heading {
  font-size: 4rem;
  text-align: center;
  line-height: 1.5;
  font-family: "Cambria-Bold";
}
.big-headin {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  font-family: "Cambria-Bold";
}
#title {
  background-color: #7164a3;
  color: #eadede;
  padding-bottom: 7%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}


/* navigationsection */
.navbar-heading {
  font-size: 1.5rem;
  font-family: "Times New Roman";
  padding: 0 0;
}

.navbar {
  
  background-color: rgb(10, 10, 10);
}

.nav-item {
  color: #fff;
  padding: 0 18px;
}

.description {
  font-size: 2.5rem;
  font-family: "Cambria";
  text-align: left;
  padding-bottom: 7%;
}

.m-img {
  right: 30%;
  width: 80%
}

/* testimonialsection */
#testimonials {
  text-align: center;
  z-index: 1;
}

.testimonial-text {
  font-size: 2.5rem;
  padding-bottom: 7%;
  line-height: 1.5;
  
}

.carousel-item {
  background-color: rgb(219, 204, 186);
  padding: 7% 15%;
}

.testimonial-image {
  width: 50%;

}

#press {
  padding: 100px; 
  text-align: center;
  padding-bottom: 7%;
}

.press-logo {
  
  width: 10%;
  margin: 20px 15px 10px;
}

/* footerSection */
#footer {
  background-color: #7164a3;
  
  color: #fff;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/* Customer-service */
/*feature-box section*/
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  text-align: center;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #4B0082;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4B0082;
}

.mainimg{
  padding-top: 5%;
  padding-left: 20%;

}
.mainim{
  
  padding-left: 25%;

}
.sec{
  padding-top:10%;
}
.pp{
  
  height: 70%;
  width: 50%;
  float:
  padding-left: 2%;
  text-align: justify;
  padding-right: 2%;
  font-style: oblique;
}